server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/youceyf11/Reporting-Config-Repo.git
          search-paths: config-repo
          default-label: main
          clone-on-start: true
          force-pull: true
          timeout: 180
        health:
          enabled: true

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
    health:
      show-details: always